<div style="height: 100%;">
  <h5> ML Regression analysis </h5>
  <div *ngIf="!isLoaded" class="loader" style="margin: auto"></div>
  <div class="table-responsive">
    <table id="analysTable" class="display" width="100%">
    </table>
  </div>
  <button class="btn btn-primary" (click)=" initPython()" style = "margin-right: 10px ">Init Python</button>
  <button class="btn btn-primary" (click)="create_table()">View Data</button>
<!--  <button (click)="upload()">UPLOAD</button>
  <button (click)="download_plot()">DOWNLOAD PLOT</button>
  <button (click)="exploratory()">EXPLORATORY</button> -->
  <ngx-tabs>
    <ngx-tab [title]="'Exploratory'"><exploratory-layout></exploratory-layout></ngx-tab>
    <ngx-tab [title]="'Evaluation'"><model-evaluation></model-evaluation></ngx-tab>
    <ngx-tab [title]="'Regression Statistics'"><regression-stat></regression-stat></ngx-tab>
  </ngx-tabs>
  @if (isLoadCorr) {
  <p> Test Correlation Plot </p>
  <div *ngIf="!isLoaded" class="loader" style="margin: auto"></div>
  <!-- <img src="https://severe-regular-fun.anvil.app/corr"  (load)="onImageLoad()"/> -->
  }


</div>
