<div class="row">
  <div class="col-2" style="height: 800px; border: 1px solid #00deff">
    <div>
      <a class="list-group-item list-group-item-action list-group-item-light p-2"
         href="javascript:void(0);">
        ML Regression
      </a>

      <a class="list-group-item list-group-item-action list-group-item-light p-2"
         href="javascript:void(0);">
        L Regression
      </a>
    </div>

    </div>
       <div class="col-10" style="height: 800px;">
        <router-outlet></router-outlet>
       </div>
    </div>
