<div class="row">
  <div class="col col-lg-6">
    <plot-frame plotTitle="Elbow Method by Clustering" plotName="elbow.jpg"
                plotId='elbowPlot' analysisType="PCA"
                pythonUrl="https://severe-regular-fun.anvil.app/wcss">
    </plot-frame>
  </div>

  <div class="col col-lg-6">
    <plot-frame plotTitle="Biplot with Clustering" plotName="bpwclusters.jpg"
                plotId='bpwClusters' analysisType="PCA"
                pythonUrl="https://severe-regular-fun.anvil.app/bpwc">
    </plot-frame>
  </div>

</div>
