<div class="card">
  <div class="card-header">
    {{plotTitle}}
  </div>
  <div class="card-body">
    <div *ngIf="!isLoaded" class="loader" style="margin: auto"></div>
    <div class="overflow-auto">
      <!-- <img  *ngIf="isValidUrl" src={{plotUrl}} (load)="onImageLoad()" style="width:500px; height:500px" /> -->
      <img  *ngIf="isValidUrl" src={{plotUrl}} style="width:500px; height:500px" />
    </div>
    <button *ngIf="!isValidUrl" (click)="enable_view_plot()" class="btn btn-primary">View</button>
  </div>
</div>
